DataIngestionTest/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataIngestionTest"
		},
		"AzureBlobStorageRedditAppTest_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageRedditAppTest'"
		},
		"AzureDataLakeStorageRedditAppTest_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageRedditAppTest'"
		},
		"RedditAppTestDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'RedditAppTestDataLakeStorage'"
		},
		"AzureDataLakeStorageRedditAppTest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pendragonteststorage.dfs.core.windows.net/"
		},
		"AzureKeyVaultRedditAppTest_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://tw-dv-001.vault.azure.net/"
		},
		"HttpRedditServer_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.reddit.com/r/dataengineering/"
		},
		"HttpRedditServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ryan_supplyin"
		},
		"RedditAppTestDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cs2100320012bda2056.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RedditTop10DataIngest",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RedditAppTestService",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RedditAppTestStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RedditDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "RedditTop10DataIngest",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "RedditDENTop10",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"RedditRaw": {},
									"RedditSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RedditAppTestService')]",
				"[concat(variables('factoryId'), '/datasets/RedditAppTestStorage')]",
				"[concat(variables('factoryId'), '/dataflows/RedditDENTop10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RedditAppTestService')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpRedditServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"limit": 10
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "/r/dataengineering/top.json"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"kind": {
							"type": "string"
						},
						"data": {
							"type": "object",
							"properties": {
								"after": {
									"type": "string"
								},
								"dist": {
									"type": "integer"
								},
								"modhash": {
									"type": "string"
								},
								"geo_filter": {
									"type": "string"
								},
								"children": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"kind": {
												"type": "string"
											},
											"data": {
												"type": "object",
												"properties": {
													"approved_at_utc": {
														"type": "null"
													},
													"subreddit": {
														"type": "string"
													},
													"selftext": {
														"type": "string"
													},
													"author_fullname": {
														"type": "string"
													},
													"saved": {
														"type": "boolean"
													},
													"mod_reason_title": {
														"type": "null"
													},
													"gilded": {
														"type": "integer"
													},
													"clicked": {
														"type": "boolean"
													},
													"title": {
														"type": "string"
													},
													"link_flair_richtext": {
														"type": "array"
													},
													"subreddit_name_prefixed": {
														"type": "string"
													},
													"hidden": {
														"type": "boolean"
													},
													"pwls": {
														"type": "integer"
													},
													"link_flair_css_class": {
														"type": "string"
													},
													"downs": {
														"type": "integer"
													},
													"thumbnail_height": {
														"type": "null"
													},
													"top_awarded_type": {
														"type": "null"
													},
													"hide_score": {
														"type": "boolean"
													},
													"name": {
														"type": "string"
													},
													"quarantine": {
														"type": "boolean"
													},
													"link_flair_text_color": {
														"type": "string"
													},
													"upvote_ratio": {
														"type": "number"
													},
													"author_flair_background_color": {
														"type": "null"
													},
													"subreddit_type": {
														"type": "string"
													},
													"ups": {
														"type": "integer"
													},
													"total_awards_received": {
														"type": "integer"
													},
													"media_embed": {
														"type": "object"
													},
													"thumbnail_width": {
														"type": "null"
													},
													"author_flair_template_id": {
														"type": "null"
													},
													"is_original_content": {
														"type": "boolean"
													},
													"user_reports": {
														"type": "array"
													},
													"secure_media": {
														"type": "null"
													},
													"is_reddit_media_domain": {
														"type": "boolean"
													},
													"is_meta": {
														"type": "boolean"
													},
													"category": {
														"type": "null"
													},
													"secure_media_embed": {
														"type": "object"
													},
													"link_flair_text": {
														"type": "string"
													},
													"can_mod_post": {
														"type": "boolean"
													},
													"score": {
														"type": "integer"
													},
													"approved_by": {
														"type": "null"
													},
													"is_created_from_ads_ui": {
														"type": "boolean"
													},
													"author_premium": {
														"type": "boolean"
													},
													"thumbnail": {
														"type": "string"
													},
													"edited": {
														"type": "boolean"
													},
													"author_flair_css_class": {
														"type": "null"
													},
													"author_flair_richtext": {
														"type": "array"
													},
													"gildings": {
														"type": "object"
													},
													"content_categories": {
														"type": "null"
													},
													"is_self": {
														"type": "boolean"
													},
													"mod_note": {
														"type": "null"
													},
													"created": {
														"type": "number"
													},
													"link_flair_type": {
														"type": "string"
													},
													"wls": {
														"type": "integer"
													},
													"removed_by_category": {
														"type": "null"
													},
													"banned_by": {
														"type": "null"
													},
													"author_flair_type": {
														"type": "string"
													},
													"domain": {
														"type": "string"
													},
													"allow_live_comments": {
														"type": "boolean"
													},
													"selftext_html": {
														"type": "string"
													},
													"likes": {
														"type": "null"
													},
													"suggested_sort": {
														"type": "null"
													},
													"banned_at_utc": {
														"type": "null"
													},
													"view_count": {
														"type": "null"
													},
													"archived": {
														"type": "boolean"
													},
													"no_follow": {
														"type": "boolean"
													},
													"is_crosspostable": {
														"type": "boolean"
													},
													"pinned": {
														"type": "boolean"
													},
													"over_18": {
														"type": "boolean"
													},
													"all_awardings": {
														"type": "array"
													},
													"awarders": {
														"type": "array"
													},
													"media_only": {
														"type": "boolean"
													},
													"link_flair_template_id": {
														"type": "string"
													},
													"can_gild": {
														"type": "boolean"
													},
													"spoiler": {
														"type": "boolean"
													},
													"locked": {
														"type": "boolean"
													},
													"author_flair_text": {
														"type": "null"
													},
													"treatment_tags": {
														"type": "array"
													},
													"visited": {
														"type": "boolean"
													},
													"removed_by": {
														"type": "null"
													},
													"num_reports": {
														"type": "null"
													},
													"distinguished": {
														"type": "null"
													},
													"subreddit_id": {
														"type": "string"
													},
													"author_is_blocked": {
														"type": "boolean"
													},
													"mod_reason_by": {
														"type": "null"
													},
													"removal_reason": {
														"type": "null"
													},
													"link_flair_background_color": {
														"type": "string"
													},
													"id": {
														"type": "string"
													},
													"is_robot_indexable": {
														"type": "boolean"
													},
													"report_reasons": {
														"type": "null"
													},
													"author": {
														"type": "string"
													},
													"discussion_type": {
														"type": "null"
													},
													"num_comments": {
														"type": "integer"
													},
													"send_replies": {
														"type": "boolean"
													},
													"whitelist_status": {
														"type": "string"
													},
													"contest_mode": {
														"type": "boolean"
													},
													"mod_reports": {
														"type": "array"
													},
													"author_patreon_flair": {
														"type": "boolean"
													},
													"author_flair_text_color": {
														"type": "null"
													},
													"permalink": {
														"type": "string"
													},
													"parent_whitelist_status": {
														"type": "string"
													},
													"stickied": {
														"type": "boolean"
													},
													"url": {
														"type": "string"
													},
													"subreddit_subscribers": {
														"type": "integer"
													},
													"created_utc": {
														"type": "number"
													},
													"num_crossposts": {
														"type": "integer"
													},
													"media": {
														"type": "null"
													},
													"is_video": {
														"type": "boolean"
													}
												}
											}
										}
									}
								},
								"before": {
									"type": "null"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpRedditServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RedditAppTestStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageRedditAppTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Top10DataEngineeringPosts",
						"container": "test"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"kind": {
							"type": "string"
						},
						"data": {
							"type": "object",
							"properties": {
								"after": {
									"type": "string"
								},
								"dist": {
									"type": "integer"
								},
								"modhash": {
									"type": "string"
								},
								"geo_filter": {
									"type": "string"
								},
								"children": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"kind": {
												"type": "string"
											},
											"data": {
												"type": "object",
												"properties": {
													"approved_at_utc": {
														"type": "null"
													},
													"subreddit": {
														"type": "string"
													},
													"selftext": {
														"type": "string"
													},
													"author_fullname": {
														"type": "string"
													},
													"saved": {
														"type": "boolean"
													},
													"mod_reason_title": {
														"type": "null"
													},
													"gilded": {
														"type": "integer"
													},
													"clicked": {
														"type": "boolean"
													},
													"title": {
														"type": "string"
													},
													"link_flair_richtext": {
														"type": "array"
													},
													"subreddit_name_prefixed": {
														"type": "string"
													},
													"hidden": {
														"type": "boolean"
													},
													"pwls": {
														"type": "integer"
													},
													"link_flair_css_class": {
														"type": "string"
													},
													"downs": {
														"type": "integer"
													},
													"thumbnail_height": {
														"type": "null"
													},
													"top_awarded_type": {
														"type": "null"
													},
													"hide_score": {
														"type": "boolean"
													},
													"name": {
														"type": "string"
													},
													"quarantine": {
														"type": "boolean"
													},
													"link_flair_text_color": {
														"type": "string"
													},
													"upvote_ratio": {
														"type": "number"
													},
													"author_flair_background_color": {
														"type": "null"
													},
													"subreddit_type": {
														"type": "string"
													},
													"ups": {
														"type": "integer"
													},
													"total_awards_received": {
														"type": "integer"
													},
													"media_embed": {
														"type": "object"
													},
													"thumbnail_width": {
														"type": "null"
													},
													"author_flair_template_id": {
														"type": "null"
													},
													"is_original_content": {
														"type": "boolean"
													},
													"user_reports": {
														"type": "array"
													},
													"secure_media": {
														"type": "null"
													},
													"is_reddit_media_domain": {
														"type": "boolean"
													},
													"is_meta": {
														"type": "boolean"
													},
													"category": {
														"type": "null"
													},
													"secure_media_embed": {
														"type": "object"
													},
													"link_flair_text": {
														"type": "string"
													},
													"can_mod_post": {
														"type": "boolean"
													},
													"score": {
														"type": "integer"
													},
													"approved_by": {
														"type": "null"
													},
													"is_created_from_ads_ui": {
														"type": "boolean"
													},
													"author_premium": {
														"type": "boolean"
													},
													"thumbnail": {
														"type": "string"
													},
													"edited": {
														"type": "boolean"
													},
													"author_flair_css_class": {
														"type": "null"
													},
													"author_flair_richtext": {
														"type": "array"
													},
													"gildings": {
														"type": "object"
													},
													"content_categories": {
														"type": "null"
													},
													"is_self": {
														"type": "boolean"
													},
													"mod_note": {
														"type": "null"
													},
													"created": {
														"type": "number"
													},
													"link_flair_type": {
														"type": "string"
													},
													"wls": {
														"type": "integer"
													},
													"removed_by_category": {
														"type": "null"
													},
													"banned_by": {
														"type": "null"
													},
													"author_flair_type": {
														"type": "string"
													},
													"domain": {
														"type": "string"
													},
													"allow_live_comments": {
														"type": "boolean"
													},
													"selftext_html": {
														"type": "string"
													},
													"likes": {
														"type": "null"
													},
													"suggested_sort": {
														"type": "null"
													},
													"banned_at_utc": {
														"type": "null"
													},
													"view_count": {
														"type": "null"
													},
													"archived": {
														"type": "boolean"
													},
													"no_follow": {
														"type": "boolean"
													},
													"is_crosspostable": {
														"type": "boolean"
													},
													"pinned": {
														"type": "boolean"
													},
													"over_18": {
														"type": "boolean"
													},
													"all_awardings": {
														"type": "array"
													},
													"awarders": {
														"type": "array"
													},
													"media_only": {
														"type": "boolean"
													},
													"link_flair_template_id": {
														"type": "string"
													},
													"can_gild": {
														"type": "boolean"
													},
													"spoiler": {
														"type": "boolean"
													},
													"locked": {
														"type": "boolean"
													},
													"author_flair_text": {
														"type": "null"
													},
													"treatment_tags": {
														"type": "array"
													},
													"visited": {
														"type": "boolean"
													},
													"removed_by": {
														"type": "null"
													},
													"num_reports": {
														"type": "null"
													},
													"distinguished": {
														"type": "null"
													},
													"subreddit_id": {
														"type": "string"
													},
													"author_is_blocked": {
														"type": "boolean"
													},
													"mod_reason_by": {
														"type": "null"
													},
													"removal_reason": {
														"type": "null"
													},
													"link_flair_background_color": {
														"type": "string"
													},
													"id": {
														"type": "string"
													},
													"is_robot_indexable": {
														"type": "boolean"
													},
													"report_reasons": {
														"type": "null"
													},
													"author": {
														"type": "string"
													},
													"discussion_type": {
														"type": "null"
													},
													"num_comments": {
														"type": "integer"
													},
													"send_replies": {
														"type": "boolean"
													},
													"whitelist_status": {
														"type": "string"
													},
													"contest_mode": {
														"type": "boolean"
													},
													"mod_reports": {
														"type": "array"
													},
													"author_patreon_flair": {
														"type": "boolean"
													},
													"author_flair_text_color": {
														"type": "null"
													},
													"permalink": {
														"type": "string"
													},
													"parent_whitelist_status": {
														"type": "string"
													},
													"stickied": {
														"type": "boolean"
													},
													"url": {
														"type": "string"
													},
													"subreddit_subscribers": {
														"type": "integer"
													},
													"created_utc": {
														"type": "number"
													},
													"num_crossposts": {
														"type": "integer"
													},
													"media": {
														"type": "null"
													},
													"is_video": {
														"type": "boolean"
													}
												}
											}
										}
									}
								},
								"before": {
									"type": "null"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageRedditAppTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RedditCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageRedditAppTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "testcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageRedditAppTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageRedditAppTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageRedditAppTest_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageRedditAppTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageRedditAppTest_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageRedditAppTest_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultRedditAppTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultRedditAppTest_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpRedditServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"limit": {
						"type": "int",
						"defaultValue": 10
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpRedditServer_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('HttpRedditServer_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVaultRedditAppTest",
							"type": "LinkedServiceReference"
						},
						"secretName": "Reddit-Secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultRedditAppTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RedditAppTestDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('RedditAppTestDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('RedditAppTestDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RedditDENTop10')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RedditAppTestStorage",
								"type": "DatasetReference"
							},
							"name": "RedditRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RedditCSV",
								"type": "DatasetReference"
							},
							"name": "RedditSink"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          kind as string,",
						"          data as (after as string, dist as integer, modhash as string, geo_filter as string, children as (kind as string, data as (approved_at_utc as string, subreddit as string, selftext as string, author_fullname as string, saved as boolean, mod_reason_title as string, gilded as integer, clicked as boolean, title as string, link_flair_richtext as string[], subreddit_name_prefixed as string, hidden as boolean, pwls as integer, link_flair_css_class as string, downs as integer, thumbnail_height as string, top_awarded_type as string, hide_score as boolean, name as string, quarantine as boolean, link_flair_text_color as string, upvote_ratio as double, author_flair_background_color as string, subreddit_type as string, ups as integer, total_awards_received as integer, media_embed as ({} as string), thumbnail_width as string, author_flair_template_id as string, is_original_content as boolean, user_reports as string[], secure_media as string, is_reddit_media_domain as boolean, is_meta as boolean, category as string, secure_media_embed as ({} as string), link_flair_text as string, can_mod_post as boolean, score as integer, approved_by as string, is_created_from_ads_ui as boolean, author_premium as boolean, thumbnail as string, edited as boolean, author_flair_css_class as string, author_flair_richtext as string[], gildings as ({} as string), content_categories as string, is_self as boolean, mod_note as string, created as double, link_flair_type as string, wls as integer, removed_by_category as string, banned_by as string, author_flair_type as string, domain as string, allow_live_comments as boolean, selftext_html as string, likes as string, suggested_sort as string, banned_at_utc as string, view_count as string, archived as boolean, no_follow as boolean, is_crosspostable as boolean, pinned as boolean, over_18 as boolean, all_awardings as string[], awarders as string[], media_only as boolean, link_flair_template_id as string, can_gild as boolean, spoiler as boolean, locked as boolean, author_flair_text as string, treatment_tags as string[], visited as boolean, removed_by as string, num_reports as string, distinguished as string, subreddit_id as string, author_is_blocked as boolean, mod_reason_by as string, removal_reason as string, link_flair_background_color as string, id as string, is_robot_indexable as boolean, report_reasons as string, author as string, discussion_type as string, num_comments as integer, send_replies as boolean, whitelist_status as string, contest_mode as boolean, mod_reports as string[], author_patreon_flair as boolean, author_flair_text_color as string, permalink as string, parent_whitelist_status as string, stickied as boolean, url as string, subreddit_subscribers as integer, created_utc as double, num_crossposts as integer, media as string, is_video as boolean))[], before as string)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> RedditRaw",
						"RedditRaw sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Author = data.children[1].data.author_fullname,",
						"          Title = data.children[1].data.title,",
						"          Text = data.children[1].data.selftext,",
						"          upvote_ratio = data.children[1].data.upvote_ratio",
						"     )) ~> RedditSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RedditAppTestStorage')]",
				"[concat(variables('factoryId'), '/datasets/RedditCSV')]"
			]
		}
	]
}