pipeline/GET Until Next Token.json
{
	"name": "GET Until Next Token",
	"properties": {
		"activities": [
			{
				"name": "Initial GET Past 7 Days",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete Previous Output Files",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete Previous Merged Output files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource_Aithusa_7days",
						"type": "DatasetReference",
						"parameters": {
							"query": "@variables('Query')",
							"tweet_fields": "@variables('Tweet Fields')",
							"max_results": "@variables('max_results')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "json_Aithusa",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Query",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Query",
					"value": "\"NATO\" lang:en -is:retweet -is:reply"
				}
			},
			{
				"name": "Max Results",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_results",
					"value": "100"
				}
			},
			{
				"name": "Tweet Fields",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Tweet Fields",
					"value": "id,text,created_at,lang,public_metrics"
				}
			},
			{
				"name": "Delete Previous Output Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Query",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Max Results",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Tweet Fields",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Raw_Aithusa_Outputs",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete Previous Merged Output files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Merged_Aithusa_JSON_folder",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "GET using Next Token Until Empty",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('anotherPull'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Extract Next Token Aithusa",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Get Next Token for Aithusa",
									"type": "DataFlowReference"
								},
								"integrationRuntime": {
									"referenceName": "WarmIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								}
							}
						},
						{
							"name": "Delete Temp File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Extract Next Token Aithusa",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "json_Aithusa",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "GET to Temp",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete Temp File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource_Aithusa_7days_NextToken",
									"type": "DatasetReference",
									"parameters": {
										"query": "@variables('Query')",
										"tweet_fields": "@variables('Tweet Fields')",
										"max_results": "@variables('max_result')",
										"next_token": "@activity('Extract Next Token Aithusa').output.runStatus.output.sink1.value[0].next_token"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "json_Aithusa",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GET to Temp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('Extract Next Token Aithusa').output.runStatus.output.sink1.value[0].next_token)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set another pull",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "anotherPull",
											"value": "false"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set anotherPull",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "anotherPull",
											"value": "true"
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Initial GET Past 7 Days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "anotherPull",
					"value": "false"
				}
			}
		],
		"variables": {
			"Query": {
				"type": "String"
			},
			"max_results": {
				"type": "String"
			},
			"Tweet Fields": {
				"type": "String"
			},
			"Number of Tweets to Pull": {
				"type": "String"
			},
			"next_token": {
				"type": "String"
			},
			"anotherPull": {
				"type": "String"
			}
		},
		"annotations": []
	}
}