pipeline/GET Loop Next Token RT.json
{
	"name": "GET Loop Next Token RT",
	"properties": {
		"activities": [
			{
				"name": "Initial GET Past 7 Days",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete Previous Output Files",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete Previous Merged Output files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResourceTwitter7days",
						"type": "DatasetReference",
						"parameters": {
							"query": {
								"value": "@pipeline().parameters.Query",
								"type": "Expression"
							},
							"tweet_fields": {
								"value": "@pipeline().parameters.TweetFields",
								"type": "Expression"
							},
							"max_results": {
								"value": "@pipeline().parameters.MaxResults",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Twitter_RawJSON_Temp",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GET using Next Token",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Initial GET Past 7 Days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,pipeline().parameters.Loops)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Extract Next Token",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Get Next Token",
									"type": "DataFlowReference"
								},
								"integrationRuntime": {
									"referenceName": "WarmIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								}
							}
						},
						{
							"name": "GET to Temp",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete Temp File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource_Next_Token",
									"type": "DatasetReference",
									"parameters": {
										"query": {
											"value": "@pipeline().parameters.Query",
											"type": "Expression"
										},
										"tweet_fields": {
											"value": "@pipeline().parameters.TweetFields",
											"type": "Expression"
										},
										"max_results": {
											"value": "@pipeline().parameters.MaxResults",
											"type": "Expression"
										},
										"next_token": {
											"value": "@activity('Extract Next Token').output.runStatus.output.sink1.value[0].next_token",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Twitter_RawJSON_Temp",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete Temp File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Extract Next Token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Twitter_RawJSON_Temp",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Delete Previous Output Files",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Raw_Twitter_Outputs",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete NATO Temp file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "GET using Next Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Twitter_RawJSON_Temp",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Merge JSONs and Convert to CSV",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Delete NATO Temp file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Merge JSON to CSV",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "WarmIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Delete Previous Merged Output files",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Merged_JSON_folder",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy data to Dedicated SQL Pool",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete All Existing Rows in NATO_Tweets1 Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlPoolSink",
						"allowCopyCommand": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int64"
								},
								"sink": {
									"name": "id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "text",
									"type": "String"
								},
								"sink": {
									"name": "text",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "lang",
									"type": "String"
								},
								"sink": {
									"name": "lang",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "retweet_count",
									"type": "Int32"
								},
								"sink": {
									"name": "retweet_count",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "reply_count",
									"type": "Int32"
								},
								"sink": {
									"name": "reply_count",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "like_count",
									"type": "Int32"
								},
								"sink": {
									"name": "like_count",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "quote_count",
									"type": "Int32"
								},
								"sink": {
									"name": "quote_count",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "impression_count",
									"type": "Int32"
								},
								"sink": {
									"name": "impression_count",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Merged_output_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DedicatedSqlPoolTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete All Existing Rows in NATO_Tweets1 Table",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Resume SQL Pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "SQLPoolTest",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[DeleteAllRowsFromNatoTweets1]"
				}
			},
			{
				"name": "Resume SQL Pool",
				"description": "Must be \"Resume\" or \"Pause\"",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Merge JSONs and Convert to CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PauseResumeSQLPool",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PauseorResume": "Resume"
					}
				}
			},
			{
				"name": "NLP Analysis",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data to Dedicated SQL Pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NLP_Analysis",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Pause SQL Pool",
				"description": "Must be \"Resume\" or \"Pause\"",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "NLP Analysis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PauseResumeSQLPool",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PauseorResume": "Pause"
					}
				}
			},
			{
				"name": "ArchiveTweets",
				"description": "Adds \"query\" and \"pull_datetime\" columns. query value is defined by the pipeline parameter. Pull_datetime is the current timestamp.",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to Dedicated SQL Pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "ArchiveTweets",
						"type": "NotebookReference"
					},
					"parameters": {
						"query": {
							"value": {
								"value": "@pipeline().parameters.QueryName",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "SparkPoolSmall",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"driverSize": "Small"
				}
			}
		],
		"parameters": {
			"QueryName": {
				"type": "string",
				"defaultValue": "NATO"
			},
			"Query": {
				"type": "string",
				"defaultValue": "\"NATO\" lang:en -is:retweet -is:reply"
			},
			"TweetFields": {
				"type": "string",
				"defaultValue": "id,text,created_at,lang,public_metrics"
			},
			"MaxResults": {
				"type": "string",
				"defaultValue": "100"
			},
			"Loops": {
				"type": "int",
				"defaultValue": 30
			}
		},
		"variables": {
			"Query": {
				"type": "String"
			},
			"max_results": {
				"type": "String"
			},
			"Tweet Fields": {
				"type": "String"
			},
			"Number of Tweets to Pull": {
				"type": "String"
			},
			"loops": {
				"type": "String"
			}
		},
		"annotations": []
	}
}