pipeline/Pipeline 2.json
{
	"name": "Pipeline 2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT id, text FROM [dbo].[NATO_Tweets1]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DedicatedSqlPoolTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Sentiment Analysis",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pendragon-language.cognitiveservices.azure.com/",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@concat('{\"document\":[\n                        {\n                            \"langauge\": \"en\", \"id\": \"',\n                                activity('Lookup1').output.id ,\n                                '\", \"text\": \"' , activity('Lookup1').output.text ,'\"\n                            }\n                            ]\n                            }')",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "rthoma43",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "PendragonKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "LangaugeKey"
						}
					}
				}
			}
		],
		"annotations": []
	}
}