pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Initial GET Past 7 Days",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete Previous Output Files",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete Previous Merged Output files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource_Aithusa_7days",
						"type": "DatasetReference",
						"parameters": {
							"query": {
								"value": "@variables('query')",
								"type": "Expression"
							},
							"tweet_fields": {
								"value": "@variables('tweet_fields')",
								"type": "Expression"
							},
							"max_results": {
								"value": "@variables('max_results')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "json_Aithusa",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Query",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "query",
					"value": "\"NATO\" lang:en -is:retweet -is:reply"
				}
			},
			{
				"name": "Max Results",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_results",
					"value": "100"
				}
			},
			{
				"name": "Tweet Fields",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tweet_fields",
					"value": "id,text,created_at,lang,public_metrics"
				}
			},
			{
				"name": "Delete Previous Output Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Query",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Max Results",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Tweet Fields",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Raw_Aithusa_Outputs",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete Previous Merged Output files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Merged_Aithusa_JSON_folder",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Initial GET Past 7 Days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "anotherPull",
					"value": "false"
				}
			}
		],
		"variables": {
			"query": {
				"type": "String"
			},
			"max_results": {
				"type": "String"
			},
			"tweet_fields": {
				"type": "String"
			}
		},
		"annotations": []
	}
}