pipeline/Pipeline 2.json
{
	"name": "Pipeline 2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT id, lang, text FROM [dbo].[NATO_Tweets1]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DedicatedSqlPoolTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Sentiment Analysis",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://pendragon-language.cognitiveservices.azure.com/",
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Ocp-Apim-Subscription-Key": "a3028b5f7e7a462d8a3381e49b9c976d",
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@'\n{\n    \"kind\": \"KeyPhraseExtraction\",\n    \"parameters\": {\n        \"modelVersion\": \"latest\"\n    },\n    \"analysisInput\":{\n        \"documents\":[\n            {\n                \"id\":item().id,\n                \"language\":item().lang,\n                \"text\": item().text\n            }\n        ]\n    }\n}\n'",
									"type": "Expression"
								},
								"authentication": {
									"resource": "/subscriptions/57cd2ff8-9306-41d0-9cad-c2052a0a8381/resourceGroups/Spring2023-TeamPendragon/providers/Microsoft.CognitiveServices/accounts/pendragon-language",
									"credential": {
										"referenceName": "PendragonManagedIdentityCredential",
										"type": "CredentialReference"
									},
									"type": "UserAssignedManagedIdentity"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Sentiment Analysis",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "results",
								"value": {
									"value": "@activity('Sentiment Analysis').output",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"results": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}