pipeline/Set Parameter Test.json
{
	"name": "Set Parameter Test",
	"properties": {
		"activities": [
			{
				"name": "TopicModeling_LDA_Copy1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set Output Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"parameters": {
						"table": {
							"value": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "SparkPoolSmall",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "Set Output Table Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "table",
					"value": "test.NATO_test"
				}
			}
		],
		"variables": {
			"table": {
				"type": "String"
			}
		},
		"annotations": []
	}
}