pipeline/Twitter_GET_Loop.json
{
	"name": "Twitter_GET_Loop",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,4)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Twitter NATO mentions_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource_Twitter",
									"type": "DatasetReference",
									"parameters": {
										"Query": "NATO",
										"max_results": "10",
										"tweet_fields": "id,text,created_at,lang,public_metrics",
										"start_year": "2023",
										"start_month": "03",
										"start_day": "05",
										"start_hour": "00",
										"start_minute": "00",
										"start_second": "01",
										"end_year": "2023",
										"end_month": "03",
										"end_day": "07",
										"end_hour": "00",
										"end_minute": "00",
										"end_second": "01",
										"sort_order": "recency",
										"since_id": {
											"value": "@pipeline().parameters.last_id",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Twitter_test_rt_Json",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Convert JSON to CSV_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Twitter NATO mentions_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Twitter_Parse_JSON_to_CSV",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Look Up last ID_copy1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Convert JSON to CSV_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2023-03-07T00:00:00.000Z",
										"wildcardFolderPath": "Tweets/Individual_files/NATO_Mentions",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Twitter_Test_RT_DelimitedText1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Last ID Variable_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Look Up last ID_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "last_id",
								"value": {
									"value": "@activity('Look Up last ID_copy1').output.firstRow.id",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"last_id": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"last_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}