pipeline/Twitter_GET.json
{
	"name": "Twitter_GET",
	"properties": {
		"activities": [
			{
				"name": "Twitter NATO mentions",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource_Twitter",
						"type": "DatasetReference",
						"parameters": {
							"Query": "NATO",
							"max_results": "10",
							"tweet_fields": "id,text,created_at,lang,public_metrics",
							"start_year": "2023",
							"start_month": "03",
							"start_day": "05",
							"start_hour": "00",
							"start_minute": "00",
							"start_second": "01",
							"end_year": "2023",
							"end_month": "03",
							"end_day": "07",
							"end_hour": "00",
							"end_minute": "00",
							"end_second": "01",
							"sort_order": "recency",
							"since_id": {
								"value": "@pipeline().parameters.last_id",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Twitter_test_rt_Json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Convert JSON to CSV",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Twitter NATO mentions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Twitter_Parse_JSON_to_CSV",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Look Up last ID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Convert JSON to CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2023-03-07T00:00:00.000Z",
							"wildcardFolderPath": "Tweets/Individual_files/NATO_Mentions",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Twitter_Test_RT_DelimitedText1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Last ID Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Look Up last ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_id",
					"value": {
						"value": "@activity('Look Up last ID').output.firstRow.id",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"last_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}