pendragon-workspace/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "pendragon-workspace"
		},
		"pendragon-workspace-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'pendragon-workspace-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:pendragon-workspace.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.brandwatch.com/projects/1998163585/data/hashtags?queryId=1998956016&startDate=2019-01-01&endDate=2023-02-01"
		},
		"RestServiceTwitter1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.twitter.com"
		},
		"pendragon-workspace-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pendragon.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Brandwatch_Test1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Web Brandwatch",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.brandwatch.com/projects/1998163585/data/hashtags?queryId=1998956016&startDate=2019-01-01&endDate=2023-02-01",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {
								"Authorization": "Bearer ee40892e-d0ed-453b-8109-8b963b9f76d1"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Web Brandwatch",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('workspaceId'), '/datasets/RestResource1')]",
				"[concat(variables('workspaceId'), '/datasets/Json1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Twitter_Test1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Twitter NATO mentions",
						"description": "2023-02-19T00:00:07.000Z to 2023-02-20T00:00:07.000Z",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['data'][0]['lang']"
										},
										"sink": {
											"ordinal": 1
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['mentions'][0]['start']"
										},
										"sink": {
											"ordinal": 2
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['mentions'][0]['end']"
										},
										"sink": {
											"ordinal": 3
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['mentions'][0]['username']"
										},
										"sink": {
											"ordinal": 4
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['mentions'][0]['id']"
										},
										"sink": {
											"ordinal": 5
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['urls'][0]['start']"
										},
										"sink": {
											"ordinal": 6
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['urls'][0]['end']"
										},
										"sink": {
											"ordinal": 7
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['urls'][0]['url']"
										},
										"sink": {
											"ordinal": 8
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['urls'][0]['expanded_url']"
										},
										"sink": {
											"ordinal": 9
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['urls'][0]['display_url']"
										},
										"sink": {
											"ordinal": 10
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['annotations'][0]['start']"
										},
										"sink": {
											"ordinal": 11
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['annotations'][0]['end']"
										},
										"sink": {
											"ordinal": 12
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['annotations'][0]['probability']"
										},
										"sink": {
											"ordinal": 13
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['annotations'][0]['type']"
										},
										"sink": {
											"ordinal": 14
										}
									},
									{
										"source": {
											"path": "$['data'][0]['entities']['annotations'][0]['normalized_text']"
										},
										"sink": {
											"ordinal": 15
										}
									},
									{
										"source": {
											"path": "$['data'][0]['text']"
										},
										"sink": {
											"ordinal": 16
										}
									},
									{
										"source": {
											"path": "$['data'][0]['edit_history_tweet_ids'][0]"
										},
										"sink": {
											"ordinal": 17
										}
									},
									{
										"source": {
											"path": "$['data'][0]['conversation_id']"
										},
										"sink": {
											"ordinal": 18
										}
									},
									{
										"source": {
											"path": "$['data'][0]['public_metrics']['retweet_count']"
										},
										"sink": {
											"ordinal": 19
										}
									},
									{
										"source": {
											"path": "$['data'][0]['public_metrics']['reply_count']"
										},
										"sink": {
											"ordinal": 20
										}
									},
									{
										"source": {
											"path": "$['data'][0]['public_metrics']['like_count']"
										},
										"sink": {
											"ordinal": 21
										}
									},
									{
										"source": {
											"path": "$['data'][0]['public_metrics']['quote_count']"
										},
										"sink": {
											"ordinal": 22
										}
									},
									{
										"source": {
											"path": "$['data'][0]['public_metrics']['impression_count']"
										},
										"sink": {
											"ordinal": 23
										}
									},
									{
										"source": {
											"path": "$['data'][0]['id']"
										},
										"sink": {
											"ordinal": 24
										}
									},
									{
										"source": {
											"path": "$['data'][0]['referenced_tweets'][0]['type']"
										},
										"sink": {
											"ordinal": 25
										}
									},
									{
										"source": {
											"path": "$['data'][0]['referenced_tweets'][0]['id']"
										},
										"sink": {
											"ordinal": 26
										}
									},
									{
										"source": {
											"path": "$['data'][0]['possibly_sensitive']"
										},
										"sink": {
											"ordinal": 27
										}
									},
									{
										"source": {
											"path": "$['data'][0]['context_annotations'][0]['domain']['id']"
										},
										"sink": {
											"ordinal": 28
										}
									},
									{
										"source": {
											"path": "$['data'][0]['context_annotations'][0]['domain']['name']"
										},
										"sink": {
											"ordinal": 29
										}
									},
									{
										"source": {
											"path": "$['data'][0]['context_annotations'][0]['domain']['description']"
										},
										"sink": {
											"ordinal": 30
										}
									},
									{
										"source": {
											"path": "$['data'][0]['context_annotations'][0]['entity']['id']"
										},
										"sink": {
											"ordinal": 31
										}
									},
									{
										"source": {
											"path": "$['data'][0]['context_annotations'][0]['entity']['name']"
										},
										"sink": {
											"ordinal": 32
										}
									},
									{
										"source": {
											"path": "$['data'][0]['context_annotations'][0]['entity']['description']"
										},
										"sink": {
											"ordinal": 33
										}
									},
									{
										"source": {
											"path": "$['data'][0]['created_at']"
										},
										"sink": {
											"ordinal": 34
										}
									},
									{
										"source": {
											"path": "$['data'][0]['reply_settings']"
										},
										"sink": {
											"ordinal": 35
										}
									},
									{
										"source": {
											"path": "$['data'][0]['author_id']"
										},
										"sink": {
											"ordinal": 36
										}
									},
									{
										"source": {
											"path": "$['data'][0]['edit_controls']['edits_remaining']"
										},
										"sink": {
											"ordinal": 37
										}
									},
									{
										"source": {
											"path": "$['data'][0]['edit_controls']['is_edit_eligible']"
										},
										"sink": {
											"ordinal": 38
										}
									},
									{
										"source": {
											"path": "$['data'][0]['edit_controls']['editable_until']"
										},
										"sink": {
											"ordinal": 39
										}
									},
									{
										"source": {
											"path": "$['data'][0]['in_reply_to_user_id']"
										},
										"sink": {
											"ordinal": 40
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['name']"
										},
										"sink": {
											"ordinal": 41
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['created_at']"
										},
										"sink": {
											"ordinal": 42
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['verified']"
										},
										"sink": {
											"ordinal": 43
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['username']"
										},
										"sink": {
											"ordinal": 44
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['public_metrics']['followers_count']"
										},
										"sink": {
											"ordinal": 45
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['public_metrics']['following_count']"
										},
										"sink": {
											"ordinal": 46
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['public_metrics']['tweet_count']"
										},
										"sink": {
											"ordinal": 47
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['public_metrics']['listed_count']"
										},
										"sink": {
											"ordinal": 48
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['pinned_tweet_id']"
										},
										"sink": {
											"ordinal": 49
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['profile_image_url']"
										},
										"sink": {
											"ordinal": 50
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['entities']['url']['urls'][0]['start']"
										},
										"sink": {
											"ordinal": 51
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['entities']['url']['urls'][0]['end']"
										},
										"sink": {
											"ordinal": 52
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['entities']['url']['urls'][0]['url']"
										},
										"sink": {
											"ordinal": 53
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['entities']['url']['urls'][0]['expanded_url']"
										},
										"sink": {
											"ordinal": 54
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['entities']['url']['urls'][0]['display_url']"
										},
										"sink": {
											"ordinal": 55
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['protected']"
										},
										"sink": {
											"ordinal": 56
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['description']"
										},
										"sink": {
											"ordinal": 57
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['location']"
										},
										"sink": {
											"ordinal": 58
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['id']"
										},
										"sink": {
											"ordinal": 59
										}
									},
									{
										"source": {
											"path": "$['includes']['users'][0]['url']"
										},
										"sink": {
											"ordinal": 60
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['lang']"
										},
										"sink": {
											"ordinal": 61
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['mentions'][0]['start']"
										},
										"sink": {
											"ordinal": 62
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['mentions'][0]['end']"
										},
										"sink": {
											"ordinal": 63
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['mentions'][0]['username']"
										},
										"sink": {
											"ordinal": 64
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['mentions'][0]['id']"
										},
										"sink": {
											"ordinal": 65
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['urls'][0]['start']"
										},
										"sink": {
											"ordinal": 66
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['urls'][0]['end']"
										},
										"sink": {
											"ordinal": 67
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['urls'][0]['url']"
										},
										"sink": {
											"ordinal": 68
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['urls'][0]['expanded_url']"
										},
										"sink": {
											"ordinal": 69
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['urls'][0]['display_url']"
										},
										"sink": {
											"ordinal": 70
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['annotations'][0]['start']"
										},
										"sink": {
											"ordinal": 71
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['annotations'][0]['end']"
										},
										"sink": {
											"ordinal": 72
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['annotations'][0]['probability']"
										},
										"sink": {
											"ordinal": 73
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['annotations'][0]['type']"
										},
										"sink": {
											"ordinal": 74
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['entities']['annotations'][0]['normalized_text']"
										},
										"sink": {
											"ordinal": 75
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['text']"
										},
										"sink": {
											"ordinal": 76
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['edit_history_tweet_ids'][0]"
										},
										"sink": {
											"ordinal": 77
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['conversation_id']"
										},
										"sink": {
											"ordinal": 78
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['public_metrics']['retweet_count']"
										},
										"sink": {
											"ordinal": 79
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['public_metrics']['reply_count']"
										},
										"sink": {
											"ordinal": 80
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['public_metrics']['like_count']"
										},
										"sink": {
											"ordinal": 81
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['public_metrics']['quote_count']"
										},
										"sink": {
											"ordinal": 82
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['public_metrics']['impression_count']"
										},
										"sink": {
											"ordinal": 83
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['id']"
										},
										"sink": {
											"ordinal": 84
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['referenced_tweets'][0]['type']"
										},
										"sink": {
											"ordinal": 85
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['referenced_tweets'][0]['id']"
										},
										"sink": {
											"ordinal": 86
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['possibly_sensitive']"
										},
										"sink": {
											"ordinal": 87
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['context_annotations'][0]['domain']['id']"
										},
										"sink": {
											"ordinal": 88
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['context_annotations'][0]['domain']['name']"
										},
										"sink": {
											"ordinal": 89
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['context_annotations'][0]['domain']['description']"
										},
										"sink": {
											"ordinal": 90
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['context_annotations'][0]['entity']['id']"
										},
										"sink": {
											"ordinal": 91
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['context_annotations'][0]['entity']['name']"
										},
										"sink": {
											"ordinal": 92
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['context_annotations'][0]['entity']['description']"
										},
										"sink": {
											"ordinal": 93
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['created_at']"
										},
										"sink": {
											"ordinal": 94
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['reply_settings']"
										},
										"sink": {
											"ordinal": 95
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['author_id']"
										},
										"sink": {
											"ordinal": 96
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['edit_controls']['edits_remaining']"
										},
										"sink": {
											"ordinal": 97
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['edit_controls']['is_edit_eligible']"
										},
										"sink": {
											"ordinal": 98
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['edit_controls']['editable_until']"
										},
										"sink": {
											"ordinal": 99
										}
									},
									{
										"source": {
											"path": "$['includes']['tweets'][0]['in_reply_to_user_id']"
										},
										"sink": {
											"ordinal": 100
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['preview_image_url']"
										},
										"sink": {
											"ordinal": 101
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['public_metrics']['view_count']"
										},
										"sink": {
											"ordinal": 102
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['width']"
										},
										"sink": {
											"ordinal": 103
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['height']"
										},
										"sink": {
											"ordinal": 104
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['type']"
										},
										"sink": {
											"ordinal": 105
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['duration_ms']"
										},
										"sink": {
											"ordinal": 106
										}
									},
									{
										"source": {
											"path": "$['includes']['media'][0]['media_key']"
										},
										"sink": {
											"ordinal": 107
										}
									},
									{
										"source": {
											"path": "$['meta']['newest_id']"
										},
										"sink": {
											"ordinal": 108
										}
									},
									{
										"source": {
											"path": "$['meta']['oldest_id']"
										},
										"sink": {
											"ordinal": 109
										}
									},
									{
										"source": {
											"path": "$['meta']['result_count']"
										},
										"sink": {
											"ordinal": 110
										}
									},
									{
										"source": {
											"path": "$['meta']['next_token']"
										},
										"sink": {
											"ordinal": 111
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RestResourceTwitter1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TwitterDelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RestResourceTwitter1')]",
				"[concat(variables('workspaceId'), '/datasets/TwitterDelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Json1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pendragon-workspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "pendragon"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/pendragon-workspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestResource1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestResourceTwitter1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceTwitter1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "/2/tweets/search/recent?query=NATO&start_time=2023-02-19T00:00:07.000Z&end_time=2023-02-20T00:00:07.000Z&max_results=10&tweet.fields=attachments,author_id,context_annotations,conversation_id,created_at,entities,geo,id,in_reply_to_user_id,lang,possibly_sensitive,public_metrics,referenced_tweets,reply_settings,source,text,withheld,edit_history_tweet_ids,edit_controls&expansions=attachments.poll_ids,attachments.media_keys,author_id,geo.place_id,in_reply_to_user_id,referenced_tweets.id,entities.mentions.username,referenced_tweets.id.author_id,edit_history_tweet_ids&media.fields=duration_ms,height,media_key,preview_image_url,public_metrics,type,url,width&place.fields=contained_within,country,country_code,full_name,geo,id,name,place_type&poll.fields=duration_minutes,end_datetime,id,options,voting_status&user.fields=created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RestServiceTwitter1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TwitterDelimitedText1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pendragon-workspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "Pendragon"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/pendragon-workspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TwitterJson1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pendragon-workspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "pendragon"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"label": {
										"type": "null"
									},
									"name": {
										"type": "string"
									},
									"volume": {
										"type": "integer"
									},
									"retweets": {
										"type": "integer"
									},
									"tweets": {
										"type": "integer"
									},
									"reachEstimate": {
										"type": "integer"
									},
									"impressions": {
										"type": "integer"
									}
								}
							}
						},
						"orderBy": {
							"type": "string"
						},
						"orderDirection": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/pendragon-workspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestService1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestServiceTwitter1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceTwitter1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pendragon-workspace-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('pendragon-workspace-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pendragon-workspace-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('pendragon-workspace-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}